/* Body */
/* Header */
/* - top-menu*/
/* - description-contacts-login */
/* - navigation */
/* Main */
/* - products-table*/
/* - - products-table-item */
body {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.container {
  width: 940px;
  display: block;
  margin: 0 auto;
}

header,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

.white-button {
  background: #fff;
}

.redButton {
  background: #ee3643;
  text-align: center;
  text-transform: uppercase;
}

.redButton:hover {
  background-color: #ca2c37;
}

.redButton:active {
  background-color: #ba2732;
}

header {
  font-size: 0;
  background: #f1f5f7;
}

header .header__topMenu-button {
  font-size: 17px;
  display: block;
  padding: 8px 20px;
  line-height: 24px;
  color: #fff;
}

header .header__topMenu {
  background: #293449;
  color: #fff;
  display: block;
}

header .header__topMenu .topMenu__buttonSearch,
header .header__topMenu .topMenu__buttonBookmarks,
header .header__topMenu .topMenu__buttonCart {
  padding-left: 49px;
  background: url(..img/sprt.png) no-repeat;
}

header .header__topMenu .header__topMenu-li {
  display: inline-block;
  vertical-align: top;
}

header .header__topMenu .header__topMenu-li :hover {
  background-color: #212a3a;
}

header .header__topMenu .header__topMenu-li :active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

header .header__topMenu .topMenu__buttonSearch:active {
  color: #fff;
}

header .header__topMenu .redButton {
  width: 220px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
  margin-bottom: -5px;
}

header .header__topMenu .nav-green-button {
  background: #63a63e;
  min-width: 150px;
  box-sizing: border-box;
}

header .header__topMenu .nav-green-button:hover {
  background-color: #5fbb2d;
}

header .header__topMenu .nav-green-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

header .header__topMenu-left {
  float: left;
  width: 503px;
}

header .header__topMenu-right {
  float: right;
  width: 437px;
}

header .header__section {
  width: 33.33%;
  float: left;
  margin-top: 43px;
  box-sizing: border-box;
}

header .header__description {
  padding: 0 53px;
  color: #ee3643;
}

header .header__description .header__description-title {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header .header__phoneAddress .header__phoneAddress-p {
  margin: 0 auto;
  text-align: center;
}

header .header__phoneAddress .header__phone {
  background: url(..img/sprt.png) no-repeat;
  width: 270px;
  box-sizing: border-box;
  padding: 8px 45px;
  color: #ee3643;
  font-size: 21px;
  border: 3px solid #fff;
}

header .header__phoneAddress .header__address {
  font-size: 14px;
  margin-top: 7px;
  color: #293449;
}

header .header__login-block .white-button {
  font-size: 21px;
  padding: 12px 27px;
  float: right;
  margin-left: 10px;
  color: #000;
}

header .header__login-block .white-button:hover {
  color: #ee3643;
}

header .header__login-block .white-button:active {
  color: rgba(0, 0, 0, 0.3);
}

header .header__login-block .header__log-in {
  padding-left: 48px;
  background: url(..img/sprt.png) no-repeat;
}

header .header__mainMenu {
  font-size: 0;
  margin-top: 40px;
}

header .header__mainMenu .header__mainMenu-li {
  display: inline-block;
  vertical-align: top;
  width: 14.28%;
}

header .header__mainMenu .header__mainMenu-button {
  font-size: 17px;
  display: block;
  padding: 15px 0;
  color: white;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  text-align: center;
}

header .header__mainMenu .header__mainMenu-button:hover {
  background-color: #293449;
}

header .header__mainMenu .header__mainMenu-button:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

main {
  padding-top: 59px;
}

main .productGroup {
  background: url(..img/sprt.png) no-repeat;
  width: 300px;
  min-height: 123px;
  box-sizing: border-box;
  padding: 22px;
  padding-right: 88px;
  color: #fff;
  background-color: #f6b22d;
  float: left;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

main .productGroup:last-of-type {
  margin-right: 0;
}

main .productGroupsTable .productGroup__title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 20px;
}

main .productGroupsTable .productGroup__button {
  display: block;
  width: 135px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

main .productGroupsTable .productGroup__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

main .productGroupsTable .productGroup__button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

main .productGroupsTable .productGroup-new:after {
  content: "new";
  position: absolute;
  top: 6px;
  right: -21px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ee3643;
  overflow: hidden;
  width: 75px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding: 4px;
}

main .productGroupsTable .productGroupsTable__productGroup-materials {
  background-color: #f6b22d;
  margin-right: 20px;
}

main .productGroupsTable .productGroupsTable__productGroup-tools {
  background-color: #4aafde;
  margin-right: 20px;
}

main .productGroupsTable .productGroupsTable__productGroup-machinery {
  background-color: #cc79d1;
}

main .productGroupsTable .productGroupsTable__productGroup-discount {
  background-color: #85d179;
}

main .productGroupsTable .productGroupsTable__productGroup-delivery {
  background-color: #f6b22d;
}

main .productGroupsTable .slider {
  float: left;
  box-sizing: border-box;
  width: 620px;
  height: 265px;
  margin-right: 20px;
  color: #fff;
}

main .productGroupsTable .slider .slider__content {
  display: block;
  box-sizing: border-box;
  width: 620px;
  height: 265px;
  padding: 25px;
  position: relative;
}

main .productGroupsTable .slider .slider__content .slider_topBlock .slider__title {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

main .productGroupsTable .slider .slider__content .slider_topBlock .slider__description {
  font-size: 18px;
  margin: 0;
}

main .productGroupsTable .slider .slider__content .slider__button {
  position: absolute;
  left: 25px;
  bottom: 25px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 12px;
  width: 195px;
  box-sizing: border-box;
  color: #fff;
}

main .productGroupsTable .slider .slider__content#slider-1 {
  background: #9d8c77 url(img/slider-perforator.jpg);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: Cuprum;
  font-weight: 400;
  src: url(../fonts/cuprum.woff);
}

@font-face {
  font-family: Cuprum;
  font-weight: 700;
  src: url(../fonts/cuprumbold.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url(../fonts/ptsansbold.woff);
}

/*# sourceMappingURL=style.css.map */