/* Body */
/* Header */
/* - top-menu*/
/* - description-contacts-login */
/* - navigation */
body {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.container {
  width: 940px;
  display: block;
  margin: 0 auto;
}

header,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

.white-button {
  background: #fff;
}

header {
  font-size: 0;
  background: #f1f5f7;
}

header .header__topMenu {
  background: #293449;
  color: #fff;
  display: block;
}

header .header__topMenu .header__topMenu-li {
  display: inline-block;
  vertical-align: top;
}

header .header__topMenu .header__topMenu-li :hover {
  background-color: #212a3a;
}

header .header__topMenu .header__topMenu-li :active {
  background-color: #161d29;
}

header .header__topMenu .header__topMenu-button {
  font-size: 17px;
  display: block;
  padding: 8px 20px;
  line-height: 24px;
  color: #fff;
}

header .header__topMenu .header__topMenu-button .topMenu__button_search {
  color: rgba(255, 255, 255, 0.6);
}

header .header__topMenu .redButton {
  width: 220px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  background: #ee3643;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
  margin-bottom: -5px;
  text-transform: uppercase;
}

header .header__topMenu .redButton:hover {
  background-color: #ca2c37;
}

header .header__topMenu .redButton:active {
  background-color: #ba2732;
}

header .header__topMenu .nav-green-button {
  background: #63a63e;
  min-width: 150px;
  box-sizing: border-box;
}

header .header__topMenu .greenButton:hover {
  background-color: #5fbb2d;
}

header .header__topMenu .greenButton:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

header .header__topMenu .background-from-sprite {
  padding-left: 49px;
}

header .header__topMenu-left,
header .header__topMenu-right {
  max-width: 49%;
}

header .header__topMenu-left {
  float: left;
}

header .header__topMenu-right {
  float: right;
}

header .header__section {
  width: 33.33%;
  float: left;
  margin-top: 43px;
  box-sizing: border-box;
}

header .header__description {
  padding: 0 53px;
  color: #ee3643;
}

header .header__description .header__description-title {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header .header__phoneAddress .header__phoneAddress-p {
  margin: 0 auto;
  text-align: center;
}

header .header__phoneAddress .header__phone {
  width: 270px;
  box-sizing: border-box;
  padding: 8px 45px;
  color: #ee3643;
  font-size: 21px;
  border: 3px solid #fff;
}

header .header__phoneAddress .header__address {
  font-size: 14px;
  margin-top: 7px;
  color: #293449;
}

header .header__login-block .white-button {
  font-size: 21px;
  padding: 12px 27px;
  float: right;
  margin-left: 10px;
  color: #000;
}

header .header__login-block .header__log-in {
  padding-left: 48px;
}

header .header__mainMenu {
  font-size: 0;
  margin-top: 40px;
}

header .header__mainMenu .header__mainMenu-li {
  display: inline-block;
  vertical-align: top;
  width: 14.28%;
}

header .header__mainMenu .header__mainMenu-button {
  font-size: 17px;
  display: block;
  padding: 15px 0;
  color: white;
  background: #32425c;
  border-bottom: 5px solid #293449;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: Cuprum;
  font-weight: 400;
  src: url(../fonts/Cuprum.woff);
}

@font-face {
  font-family: Cuprum;
  font-weight: 700;
  src: url(../fonts/Cuprumbold.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url(../fonts/PTSans.woff);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url(../fonts/PTSansbold.woff);
}

/*# sourceMappingURL=style.css.map */