//output:../index.html
//- {}
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title HTML Academy: Technomart
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        header.clearfix
            .header__topMenu.clearfix                
                .container
                    ul.header__topMenu-left.clearfix
                        li.header__topMenu-li
                            a(href="#").redButton.logoButton Техномарт
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonSearch Поиск:
                    ul.header__topMenu-right.clearfix
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonBookmarks Закладки: 
                                span 0
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonCart Корзина: 
                                span 0
                        li.header__topMenu-li
                            //- a(href="#").header__topMenu-button.nav-green-button.topMenu__buttonOrder Оформить заказ
                            a(href="#").header__topMenu-button.greenButton.topMenu__buttonOrder Оформить заказ
            .container.clearfix
                section.header__section.header__description
                    h1.header__description-title Интернет-магазин строительных&nbsp;материалов и&nbsp;инструментов для ремонта
                section.header__section.header__phoneAddress
                    p.header__phoneAddress-p.header__phone +7 (812) 555-05-55
                    p.header__phoneAddress-p.header__address г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
                section.header__section.header__login-block.clearfix
                    a(href="#").white-button.header__register Регистрация
                    a(href="#").white-button.header__log-in Войти
            .container.clearfix
                nav.header__navigationBlock
                    ul.header__mainMenu
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Главная
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Компания
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Каталог
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Новости
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Спецпредложения
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Доставка
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Контакты
        main
            .productGroupsTable.container.clearfix
                section.productGroup.productGroup-new.productGroupsTable__productGroup-materials
                    p.productGroup__title Материалы
                    a(href="#").productGroup__button На любой вкус
                section.productGroup.productGroupsTable__productGroup-tools
                    p.productGroup__title Инструмент
                    a(href="#").productGroup__button На все случаи
                section.productGroup.productGroupsTable__productGroup-machinery
                    p.productGroup__title Техника
                    a(href="#").productGroup__button Для стройки
                .slider
                    .slider__content#slider-1
                        .slider_topBlock
                            h2.slider__title Перфораторы
                            p.slider__description Настоящие мужские игрушки
                        a(href="#").slider__button.redButton Открыть каталог
                section.productGroup.productGroupsTable__productGroup-discount
                    p.productGroup__title Скидки 50%
                    a(href="#").productGroup__button На 350 товаров
                section.productGroup.productGroupsTable__productGroup-delivery
                    p.productGroup__title Доставка
                    a(href="#").productGroup__button Бесплатно
            .popularProducts.container.clearfix
                .popularTitleBlock
                    h2.popularTitleBlock__title Популярные товары
                    a(href="#").redButton.popularTitleBlock__button Все популярные товары
                article.catalogItem
                    .catalogItem__imageContainer
                        img(src="img/catalog/bosch-bfg-9000.png" width="" height="").catalogItem__image
                        a(href="#").greenButton.catalogItem__hover-buy Купить
                        a(href="#").catalogItem__hover-bookmark В закладки                        
                    p.catalogItem__text Перфоратор BOSCH BFG&nbsp;9000
                    p.catalogItem__price-old 32500 Р.
                    p.catalogItem__price 25500 Р.
                article.catalogItem
                    .catalogItem__imageContainer
                        img(src="img/catalog/bosch-bfg-3000.png" width="" height="").catalogItem__image
                        a(href="#").greenButton.catalogItem__hover-buy Купить
                        a(href="#").catalogItem__hover-bookmark В закладки                        
                    p.catalogItem__text Перфоратор BOSCH BFG&nbsp;3000
                    p.catalogItem__price-old 22500 Р.
                    p.catalogItem__price 15500 Р.
                article.catalogItem
                    .catalogItem__imageContainer
                        img(src="img/catalog/bosch-bfg-6000.png" width="" height="").catalogItem__image
                        a(href="#").greenButton.catalogItem__hover-buy Купить
                        a(href="#").catalogItem__hover-bookmark В закладки                        
                    p.catalogItem__text Перфоратор BOSCH BFG&nbsp;6000
                    p.catalogItem__price-old 30500 Р.
                    p.catalogItem__price 25500 Р.
                article.catalogItem.new-item
                    .catalogItem__imageContainer
                        img(src="img/catalog/bosch-bfg-2000.png" width="" height="").catalogItem__image
                        a(href="#").greenButton.catalogItem__hover-buy Купить
                        a(href="#").catalogItem__hover-bookmark В закладки                        
                    p.catalogItem__text Перфоратор BOSCH BFG&nbsp;2000
                    p.catalogItem__price 12500 Р.
            .popularBrands.container.clearfix
                .popularTitleBlock
                    h2.popularTitleBlock__title Популярные производители
                    a(href="#").redButton.popularTitleBlock__button Все производители
                article.catalogBrand
                    img(src="img/brands/bosch.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/makita.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/dewalt.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/interskol.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/hitachi.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/lg.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/aeg.png").catalogBrand__image
                article.catalogBrand
                    img(src="img/brands/metabo.png").catalogBrand__image
            .service
                .serviceBlock.container.clearfix
                    p.service__description-title Сервисы
                    p.service__description-text Хороший интернет-магазин отличается от плохого не только ценами! Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
                    ul.service__menu
                        li
                            a(href="#").serviceMenu__item.serviceMenu__item-active Доставка
                        li
                            a(href="#").serviceMenu__item Гарантия
                        li
                            a(href="#").serviceMenu__item Кредит
                    .service__detailsBlock
                        p.serviceDetailsBlock__title Доставка
                        p.serviceDetailsBlock__text Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, <br>поднимая его на ваш на этаж!
            .aboutBlock.container.clearfix
                .aboutBlock__left
                    h2.aboutBlock__title Компания «Техномарт»
                    p.aboutBlock__text Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкномить на гастарбайтерах.
                    p.aboutBlock__text Мы можем доставить ваш товар в самые отдаленные точки России!<br> Техномарт работает со многими транспортными компаниями:
                    ul.aboutBlock__partnersList
                        li.aboutBlock__partner Деловые линии
                        li.aboutBlock__partner Автотрейдинг
                        li.aboutBlock__partner ЖелДорЭкспедиция
                    a(href="#").redButton.aboutBlock__button Подробней о компании
                .aboutBlock__right
                    h2.aboutBlock__title Контакты
                    p.aboutBlock__text Вы можете забрать товар сами, заехав в наш офис:
                    .aboutBlock__mapBlock
                        img(src="img/map.jpg" width="300" height="158")
                    a(href="#").redButton.aboutBlock__button Заблудились? Напишите нам!
        footer
            .container.clearfix
                .footer__line-first.clearfix
                    a(href="#").redButton.logoButton Техномарт
                    ul.footerTopMenu
                        li.footerTopMenu__item
                            a(href="#").footerTopMenu__item-link Компания
                        li.footerTopMenu__item
                            a(href="#").footerTopMenu__item-link Новости
                        li.footerTopMenu__item
                            a(href="#").footerTopMenu__item-link Каталог
                        li.footerTopMenu__item
                            a(href="#").footerTopMenu__item-link Доставка
                        li.footerTopMenu__item
                            a(href="#").footerTopMenu__item-link Контакты
                .footer__line-second.clearfix
                    p.footer__addressPhone г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br> +7 (812) 555-05-55
                    ul.footerSecondMenu
                        li.footerSecondMenu__item
                            a(href="#").footerSecondMenu__item-link
                                span.footerMenu__underline Материалы
                        li.footerSecondMenu__item
                            a(href="#").footerSecondMenu__item-link
                                span.footerMenu__underline Техника
                        li.footerSecondMenu__item
                            a(href="#").footerSecondMenu__item-link
                                span.footerMenu__underline Инструмент
                        li.footerSecondMenu__item
                            a(href="#").footerSecondMenu__item-link
                                span.footerMenu__underline Спецпредложения
            .footer__line-third
                .container.clearfix
                    p.bottomLine__block-left © 2010–2016 Компания «Техномарт»<br>Все права защищены
                    .footer__socials
                        a(href="#").footer__socialButton.footer__socialButton-vk vkontakte
                        a(href="#").footer__socialButton.footer__socialButton-fb facebook
                        a(href="#").footer__socialButton.footer__socialButton-insta instagram
                    //- .footer__feedback
                    a(href="#").footer__feedbackButton Обратная связь:<br>
                        span.footer__feedbackButton-gold mail@htmlacademy.ru
                    //- .footer__copyright
                    a(href="#").footer__feedbackButton Разработано —<br>
                        span.footer__feedbackButton-gold htmlacademy.ru
                    
                
