//output:../index.html
//- {}
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title HTML Academy: Technomart
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        header.clearfix
            .header__topMenu.clearfix                
                .container
                    ul.header__topMenu-left.clearfix
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.redButton Техномарт
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonSearch Поиск:
                    ul.header__topMenu-right.clearfix
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonBookmarks Закладки: 
                                span 0
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__buttonCart Корзина: 
                                span 0
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.nav-green-button.topMenu__buttonOrder Оформить заказ
            .container.clearfix
                section.header__section.header__description
                    h1.header__description-title Интернет-магазин строительных&nbsp;материалов и&nbsp;инструментов для ремонта
                section.header__section.header__phoneAddress
                    p.header__phoneAddress-p.header__phone +7 (812) 555-05-55
                    p.header__phoneAddress-p.header__address г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
                section.header__section.header__login-block.clearfix
                    a(href="#").white-button.header__register Регистрация
                    a(href="#").white-button.header__log-in Войти
            .container.clearfix
                nav.header__navigationBlock
                    ul.header__mainMenu
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Главная
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Компания
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Каталог
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Новости
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Спецпредложения
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Доставка
                        li.header__mainMenu-li
                            a(href="#").header__mainMenu-button Контакты
        main
            .productGroupsTable.container.clearfix
                section.productGroup.productGroup-new.productGroupsTable__productGroup-materials
                    p.productGroup__title Материалы
                    a(href="#").productGroup__button На любой вкус
                section.productGroup.productGroupsTable__productGroup-tools
                    p.productGroup__title Инструмент
                    a(href="#").productGroup__button На все случаи
                section.productGroup.productGroupsTable__productGroup-machinery
                    p.productGroup__title Техника
                    a(href="#").productGroup__button Для стройки
                .slider
                    .slider__content#slider-1
                        .slider_topBlock
                            h2.slider__title Перфораторы
                            p.slider__description Настоящие мужские игрушки
                        a(href="#").slider__button.redButton Открыть каталог
                section.productGroup.productGroupsTable__productGroup-discount
                    p.productGroup__title Скидки 50%
                    a(href="#").productGroup__button На 350 товаров
                section.productGroup.productGroupsTable__productGroup-delivery
                    p.productGroup__title Доставка
                    a(href="#").productGroup__button Бесплатно
                
                    
