//output:../index.html
//- {}
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title HTML Academy: Technomart
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        header.clearfix
            .header__topMenu.clearfix                
                .container
                    ul.header__topMenu-left.clearfix
                        li.header__topMenu-li
                            a(href="#").redButton Техномарт
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__button_search Поиск:
                    ul.header__topMenu-right.clearfix
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__button_bookmarks Закладки: 
                                span 0
                        li.header__topMenu-li
                            a(href="#").header__topMenu-button.topMenu__button_cart Корзина: 
                                span 0
                        li.header__topMenu-li
                            a(href="#").nav-green-button.topMenu__button_order Оформить заказ
            .container.clearfix
                section.header__section.header__description
                    h1.header__description-title Интернет-магазин строительных&nbsp;материалов и&nbsp;инструментов для ремонта
                section.header__section.header__phoneAddress
                    p.header__phoneAddress-p.header__phone +7 (812) 555-05-55
                    p.header__phoneAddress-p.header__address г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
                section.header__section.header__login-block.clearfix
                    a.white-button.header__register Регистрация
                    a.white-button.header__log-in Войти
            .container.clearfix
                nav.header__navigationBlock
                    ul.header__mainMenu
                        li.header__mainMenu-li
                            a.header__mainMenu-button Главная
                        li.header__mainMenu-li
                            a.header__mainMenu-button Компания
                        li.header__mainMenu-li
                            a.header__mainMenu-button Каталог
                        li.header__mainMenu-li
                            a.header__mainMenu-button Новости
                        li.header__mainMenu-li
                            a.header__mainMenu-button Спецпредложения
                        li.header__mainMenu-li
                            a.header__mainMenu-button Доставка
                        li.header__mainMenu-li
                            a.header__mainMenu-button Контакты
