$super-light-blue: #f1f5f7;
$dark-blue: #293449;
$navigation-bg-blue: #32425c;
$text-dark-blue: #32425c;
$light-red: #ee3643;
$green: #63a63e;
$phone-border-color: #fff;
$container-width: 940px;

body {
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.container {
    width: $container-width;
    display: block;
    margin: 0 auto;
}

header,
ul,
li {
    margin: 0;
    padding: 0;
}

.white-button {background: #fff; }

header {

    background: $super-light-blue;

    .header__top-menu {
        background: $dark-blue;
        color: #fff;
        display: block;

        li {
            display: inline-block;
            vertical-align: top;
        };

        a {
            display: block;
            text-decoration: none;
            padding: 8px 20px ;
            color: #fff;
            line-height: 24px;
        };

        .red-button {
            width: 220px;
            box-sizing: border-box;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            background: $light-red;
            border-bottom: 5px solid rgba(0,0,0,0.24);
            margin-bottom: -5px;
            text-transform: uppercase;
        }

        .nav-green-button {
            background: $green;
            min-width: 150px;
            box-sizing: border-box;
        }
    }

    .top-menu-left { float: left; }

    .top-menu-right { float: right; }

    section {
        width: 33.33%;
        float: left;
        margin-top: 43px;
        box-sizing: border-box;
    }

    .header__description {
        padding: 0 53px;
        color: $light-red;

        h1 {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    }

    .header__phone-address {
        p {
            margin: 0 auto;
            text-align: center;
        }

        .header__phone {
            width: 270px;
            box-sizing: border-box;
            padding: 8px 45px;
            color: $light-red;
            font-size: 21px;
            border: 3px solid $phone-border-color;
        }

        .header__address {
            font-size: 14px;
            margin-top: 7px;
            color: $text-dark-blue;
        }
    }

    .header__login-block {
        a {
            font-size: 21px;
            padding: 12px 27px;
            float: right;
            margin-left: 10px;
        }

        .header__log-in { padding-left: 48px; }
    }

    .header__main-menu {
        font-size: 0;
        margin-top: 40px;

        li {
            display: inline-block;
            vertical-align: top;
            width: 14.28%;
        }

        a {
            font-size: 17px;
            display: block;
            padding: 15px 0;
            color: white;
            background: $navigation-bg-blue;
            border-bottom: 5px solid $dark-blue;
            text-align: center;
        }
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: Cuprum;
    font-weight: 400;
    src: url(../fonts/Cuprum.woff);
}

@font-face {
    font-family: Cuprum;
    font-weight: 700;
    src: url(../fonts/Cuprumbold.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url(../fonts/PTSans.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url(../fonts/PTSansbold.woff);
}
