/* Body */
$container-width: 940px;

$light-grey: #f1f5f7;

$medium-dark-blue: #32425c;
$dark-blue: #293449;
$ultra-dark-blue: #212a3a;
$super-dark-blue: #161d29;

$red: #ee3643;
$medium-red: #ca2c37;
$dark-red: #ba2732;

$green: #63a63e;
$light-green: #5fbb2d;
$dark-green: #518534;

/* Header */
/* - top-menu*/
$header-background-light-grey-blue: $light-grey;
$header-topMenu-background: $dark-blue;
$header-topMenu-background-hover: $ultra-dark-blue;
$header-topMenu-background-active: $super-dark-blue;
$header-topMenu-background-active-text: rgba(255,255,255,.6);
$redButton: $red;
$redButton-hover: $medium-red;
$redButton-active: $dark-red;
$greenButton: $green;
$greenButton-hover: $light-green;
$greenButton-active: $dark-green;
$greenButton-active-text: rgba(255,255,255,.51);

/* - description-contacts-login */
$phone-border-color: #fff;
$text-dark-blue: $dark-blue;
/* - navigation */
$headert-navigation-background: $medium-dark-blue;

body {
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.container {
    width: $container-width;
    display: block;
    margin: 0 auto;
}

header,
ul,
li {
    margin: 0;
    padding: 0;
}

 a {
    text-decoration: none;
    display: block;
 }

.white-button {background: #fff; }

// .background-from-sprite { background: url(..img/sprt.png) no-repeat; }

header {

    font-size: 0;
    background: $header-background-light-grey-blue;

    .header__topMenu {

        background: $header-topMenu-background;
        color: #fff;
        display: block;

        .header__topMenu-li {
            display: inline-block;
            vertical-align: top;

            :hover { background-color: $header-topMenu-background-hover; }
            :active {
                background-color: $header-topMenu-background-active;
                color: $header-topMenu-background-active-text;
            }
        }

        .topMenu__button_search:active { color: #fff; };

        .header__topMenu-button {
            font-size: 17px;
            display: block;
            padding: 8px 20px;
            line-height: 24px;
            color: #fff;
        };

        .redButton {
            width: 220px;
            box-sizing: border-box;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            background: $redButton;
            border-bottom: 5px solid rgba(0,0,0,0.24);
            margin-bottom: -5px;
            text-transform: uppercase;
        }

        .redButton:hover { background-color: $redButton-hover; }

        .redButton:active { background-color: $redButton-active; }

        .nav-green-button {
            background: $greenButton;
            min-width: 150px;
            box-sizing: border-box;
        }

        .nav-green-button:hover { background-color: $greenButton-hover; }

        .nav-green-button:active {
            background-color: $greenButton-active;
            color: $greenButton-active-text;
        }

        .background-from-sprite { padding-left: 49px; }
    }

    .header__topMenu-left,
    .header__topMenu-right {
        max-width: 49%
    }

    .header__topMenu-left { float: left; }

    .header__topMenu-right { float: right; }

    .header__section {
        width: 33.33%;
        float: left;
        margin-top: 43px;
        box-sizing: border-box;
    }

    .header__description {
        padding: 0 53px;
        color: $red;

        .header__description-title {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    }

    .header__phoneAddress {
        .header__phoneAddress-p {
            margin: 0 auto;
            text-align: center;
        }

        .header__phone {
            width: 270px;
            box-sizing: border-box;
            padding: 8px 45px;
            color: $red;
            font-size: 21px;
            border: 3px solid $phone-border-color;
        }

        .header__address {
            font-size: 14px;
            margin-top: 7px;
            color: $text-dark-blue;
        }
    }

    .header__login-block {
        .white-button {
            font-size: 21px;
            padding: 12px 27px;
            float: right;
            margin-left: 10px;
            color: #000;
        }

        .header__log-in { padding-left: 48px; }
    }

    .header__mainMenu {
        font-size: 0;
        margin-top: 40px;

        .header__mainMenu-li {
            display: inline-block;
            vertical-align: top;
            width: 14.28%;
        }

        .header__mainMenu-button {
            font-size: 17px;
            display: block;
            padding: 15px 0;
            color: white;
            background: $headert-navigation-background;
            border-bottom: 5px solid $dark-blue;
            text-align: center;
        }
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: Cuprum;
    font-weight: 400;
    src: url(../fonts/Cuprum.woff);
}

@font-face {
    font-family: Cuprum;
    font-weight: 700;
    src: url(../fonts/Cuprumbold.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url(../fonts/PTSans.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url(../fonts/PTSansbold.woff);
}
