/* Body */
$container-width: 940px;

$background-from-sprite: url(..img/sprt.png);

$light-grey: #f1f5f7;

$medium-dark-blue: #32425c;
$dark-blue: #293449;
$ultra-dark-blue: #212a3a;
$mega-dark-blue: #1d2739;
$super-dark-blue: #161d29;

$red: #ee3643;
$medium-red: #ca2c37;
$dark-red: #ba2732;

$green: #63a63e;
$light-green: #5fbb2d;
$dark-green: #518534;

/* Header */
/* - top-menu*/
$topMenuLeftWidth: 503px;
$topMenuRightWidth: 437px;
$header-background-light-grey-blue: $light-grey;
$header-topMenu-background: $dark-blue;
$header-topMenu-background-hover: $ultra-dark-blue;
$header-topMenu-background-active: $super-dark-blue;
$header-topMenu-background-active-text: rgba(255,255,255,.6);
$redButton: $red;
$redButton-hover: $medium-red;
$redButton-active: $dark-red;
$greenButton: $green;
$greenButton-hover: $light-green;
$greenButton-active: $dark-green;
$greenButton-active-text: rgba(255,255,255,.51);

/* - description-contacts-login */
$header-phone-border-color: #fff;
$header-title: $red;
$header-phone-text: $red;
$text-dark-blue: $dark-blue;
$header-whiteButton-text: #000;
$header-whiteButton-text-hover: $red;
$header-whiteButton-text-active: rgba(0,0,0,.3);

/* - navigation */
$header-navigation-border: $dark-blue;
$header-navigation-background: $medium-dark-blue;
$header-navigation-background-hover: $dark-blue;
$header-navigation-background-active: $mega-dark-blue;
$header-navigation-background-active-text: rgba(255,255,255,.5);

/* Main */

/* - products-table*/

/* - - products-table-item */
$productGroupButton: rgba(0,0,0,0.1);
$productGroupButtonHover: rgba(0,0,0,0.2);
$productGroupButtonActive: rgba(0,0,0,0.3);

$productGroupMaterials: #f6b22d;
$productGroupTools: #4aafde;
$productGroupMachinery: #cc79d1;
$productGroupDiscount: #85d179;
$productGroupDelivery: #f6b22d;

/* - popular products */
$popularTitleBlock: #f7f3ec;

body {
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.container {
    width: $container-width;
    display: block;
    margin: 0 auto;
}

header,
ul,
li {
    margin: 0;
    padding: 0;
}

 a {
    text-decoration: none;
    display: block;
 }

.white-button {background: #fff; }

.redButton {
    background: $redButton;
    text-align: center;
    text-transform: uppercase;
}
.redButton:hover { background-color: $redButton-hover; }
.redButton:active { background-color: $redButton-active; }

.greenButton {
    background: $greenButton;
    color: #fff;
}

.greenButton:hover { background-color: $greenButton-hover; }
.greenButton:active {
    background-color: $greenButton-active;
    color: $greenButton-active-text;
}

header {

    font-size: 0;
    background: $header-background-light-grey-blue;

    .header__topMenu-button {
        font-size: 17px;
        display: block;
        padding: 8px 20px;
        line-height: 24px;
        color: #fff;
    };

    .header__topMenu {

        background: $header-topMenu-background;
        color: #fff;
        display: block;

        .topMenu__buttonSearch,
        .topMenu__buttonBookmarks,
        .topMenu__buttonCart {
            padding-left: 49px;
            background-image: $background-from-sprite;
        }

        .header__topMenu-li {
            display: inline-block;
            vertical-align: top;

            :hover { background-color: $header-topMenu-background-hover; }
            :active {
                background-color: $header-topMenu-background-active;
                color: $header-topMenu-background-active-text;
            }
        }

        .topMenu__buttonSearch:active { color: #fff; };

        .redButton {
            width: 220px;
            box-sizing: border-box;
            font-weight: 700;
            font-size: 24px;
            border-bottom: 5px solid rgba(0,0,0,0.24);
            margin-bottom: -5px;
        }
        .redButton:hover { background-color: $redButton-hover; }

        .topMenu__buttonOrder {
            // background: $greenButton;
            min-width: 150px;
            box-sizing: border-box;
        }

        .topMenu__buttonOrder:hover { background-color: $greenButton-hover; }

        .topMenu__buttonOrder:active {
            background-color: $greenButton-active;
            color: $greenButton-active-text;
        }
    }

    .header__topMenu-left {
        float: left;
        width: $topMenuLeftWidth;
    }

    .header__topMenu-right {
        float: right;
        width: $topMenuRightWidth;
    }

    .header__section {
        width: 33.33%;
        float: left;
        margin-top: 43px;
        box-sizing: border-box;
    }

    .header__description {
        padding: 0 53px;
        color: $header-title;

        .header__description-title {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    }

    .header__phoneAddress {
        .header__phoneAddress-p {
            margin: 0 auto;
            text-align: center;
        }

        .header__phone {
            background-image: $background-from-sprite;
            width: 270px;
            box-sizing: border-box;
            padding: 8px 45px;
            color: $header-title;
            font-size: 21px;
            border: 3px solid $header-phone-border-color;
        }

        .header__address {
            font-size: 14px;
            margin-top: 7px;
            color: $text-dark-blue;
        }
    }

    .header__login-block {
        .white-button {
            font-size: 21px;
            padding: 12px 27px;
            float: right;
            margin-left: 10px;
            color: $header-whiteButton-text;
        }

        .white-button:hover { color: $header-whiteButton-text-hover; }

        .white-button:active { color: $header-whiteButton-text-active; }

        .header__log-in {
            padding-left: 48px;
            background-image: $background-from-sprite;
        }
    }

    .header__mainMenu {
        font-size: 0;
        margin-top: 40px;

        .header__mainMenu-li {
            display: inline-block;
            vertical-align: top;
            width: 14.28%;
        }

        .header__mainMenu-button {
            font-size: 17px;
            display: block;
            padding: 15px 0;
            color: white;
            background-color: $header-navigation-background;
            border-bottom: 5px solid $header-navigation-border;
            text-align: center;
        }

        .header__mainMenu-button:hover {background-color: $header-navigation-background-hover; }

        .header__mainMenu-button:active {
            background-color: $header-navigation-background-active;
            color: $header-navigation-background-active-text;
        }
    }
}

main {
    padding-top: 59px;

    .productGroup {
        background-image: $background-from-sprite;
        width: 300px;
        min-height: 123px;
        box-sizing: border-box;
        padding: 22px;
        padding-right: 88px;
        color: #fff;
        background-color: #f6b22d;
        float: left;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }

    .productGroup:last-of-type { margin-right: 0; }

    .productGroupsTable {

        .productGroup__title {
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 20px;
        }

        .productGroup__button {
            display: block;
            width: 135px;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 2px;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            background-color: $productGroupButton;
        }
        .productGroup__button:hover {background-color: $productGroupButtonHover; }
        .productGroup__button:active {background-color: $productGroupButtonActive; }

        .productGroup-new:after {
            content: "new";
            position: absolute;
            top: 6px;
        	right: -21px;
            transform: rotate(45deg);
            background: $red;
            overflow: hidden;
            width: 75px;
            text-align: center;
        	font-size: 16px;
        	line-height: 18px;
        	padding: 4px;
        }

        .productGroupsTable__productGroup-materials {
            background-color: $productGroupMaterials;
            margin-right: 20px;
        }

        .productGroupsTable__productGroup-tools {
            background-color: $productGroupTools;
            margin-right: 20px;
        }
        .productGroupsTable__productGroup-machinery { background-color: $productGroupMachinery; }
        .productGroupsTable__productGroup-discount { background-color: $productGroupDiscount; }
        .productGroupsTable__productGroup-delivery { background-color: $productGroupDelivery; }

        .slider {
            float: left;
            box-sizing: border-box;
            width: 620px;
            height: 265px;
            margin-right: 20px;
            color: #fff;

            .slider__content {
                display: block;
                box-sizing: border-box;
                width: 620px;
                height: 265px;
                padding: 25px;
                position: relative;

                .slider_topBlock {

                    .slider__title {
                        margin-top:0;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 36px;
                    }

                    .slider__description {
                        font-size: 18px;
                        margin: 0;
                    }

                }
                .slider__button {
                    position: absolute;
                    left: 25px;
                    bottom: 25px;
                    border-radius: 2px;
                    text-transform: uppercase;
                    padding: 12px;
                    width: 195px;
                    box-sizing: border-box;
                    color: #fff;
                }
            }
            .slider__content#slider-1 { background: #9d8c77 url(../img/slider-perforator.jpg); }
        }
    }

    .popularTitleBlock {
        background: $popularTitleBlock;
        padding: 30px 300px 30px 26px;
        position: relative;
        margin-bottom: 20px;

        .popularTitleBlock__title {
            text-transform: uppercase;
            font-size: 30px;
            line-height: 30px;
            margin: 0;
            color: $medium-dark-blue;
        }

        .popularTitleBlock__button {
            position: absolute;
            color: #fff;
            font-size: 14px;
            width: 253px;
            box-sizing: border-box;
            top: 25px;
            right: 24px;
            border-radius: 2px;
            padding: 12px;
            text-align: center;
        }
    }

    .catalogItem {
        float: left;
        width: 220px;
        height: 318px;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;
        padding-bottom: 58px;
        overflow: hidden;

        .catalogItem__hover-buy,
        .catalogItem__hover-bookmark {
            display: none;
            height: 38px;
            box-sizing: border-box;
            padding: 9px 38px;
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            border-radius: 2px;
            text-transform: uppercase;
        }

        .catalogItem__hover-buy {
            box-shadow: inset 0 -3px 0 0 $dark-green;
            background-image: $background-from-sprite;
            margin-bottom: 7px;
        }

        .catalogItem__hover-bookmark {
            color: #000;
            padding-left: 25px;
            padding-right: 25px;
            border: 3px solid $green;
        }

        .catalogItem__hover-bookmark:hover { border-color: $medium-dark-blue; }
        .catalogItem__hover-bookmark:active {
            border-color: $medium-dark-blue;
            opacity: 0.3;
        }

        p {
            margin: 0 auto;
            padding: 0 30px;
            text-align: center;
        }

        .catalogItem__text {
            display: block;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .catalogItem__price-old {
            display: block;
            color: #999;
            font-weight: 700;
            text-decoration: line-through;
        }

        .catalogItem__price {
            position:absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            width:80px;
            padding:11px 30px;
            color: #fff;
            background: $red;
            border-radius:2px;
            line-height: 18px;
        }

        .catalogItem__price::after {
            content:"";
            position:absolute;
            top:0;
            right:-20px;
            width:0;
            height:0;
            border:20px solid white;
            border-left-color:#ee3643;
        }
    }
    .catalogItem:nth-of-type(4n) { margin-right: 0; }

    .catalogItem:hover {
        box-shadow: 0 10px 25px $dark-blue;
        border-color: transparent;
        .catalogItem__imageContainer { padding: 45px 42px; }
        .catalogItem__image { display: none; }
        .catalogItem__hover-buy { display: block; }
        .catalogItem__hover-bookmark { display: block; }
    }

    .catalogItem.new-item::after {
        content: "new";
        position: absolute;
        top: 6px;
        right: -21px;
        transform: rotate(45deg);
        background: $red;
        overflow: hidden;
        width: 75px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        padding: 4px;
        color: white;
    }

    .catalogItem__imageContainer {
        height: 180px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .catalogItem__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: Cuprum;
    font-weight: 400;
    src: url(../fonts/cuprum.woff);
}

@font-face {
    font-family: Cuprum;
    font-weight: 700;
    src: url(../fonts/cuprumbold.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url(../fonts/ptsans.woff);
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url(../fonts/ptsansbold.woff);
}
